export DB_HOST='127.0.0.1'
export DB_PORT='5432'
export DB_NAME="blog_dev"
export DB_USER="postgres"
export DB_PASSWORD="securepassword"
export RAILS_MASTER_KEY="06cba32d231c5eab9e8d616fab3df0f5"
export DB_TYPE='postgresql'
